#punk {
    width: auto;
    height: 60px;
    color:white;
    background-color: darkgreen;
    margin-bottom: 0;
    text-align: right;
    font-size: larger;
    line-height: 4;
    word-spacing: 15px;
    
   
    
}

ul {
    margin-right: 50px;
}

li {
    display: inline;
    
    
}

h1 {
    font-size:xx-large;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

#shout {
    width: auto;
    height: 8px ;
    background-color: burlywood;
    margin-top: 0;

}

.words {
    color: brown;
    text-align: center;
}

#spike { 
    width: 250;
    height: 250px;
    background-color: burlywood;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

#scream {
    width: 450px;
    height: 100px;
    background-color: burlywood;
    border: solid 3px rgb(187, 151, 103) ;
    margin-bottom: auto;
    justify-content: center;
    

}
#glue {
    width: auto;
    height: 40px;
    color:white;
    background-color: darkgreen;
    margin:0;
    padding-top: 0;
    text-align: center;
   
    
   
    
}






